<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo app</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="todoApp.css">
</head>
<body>
    <div id="todo-app">
        <h1>Todo App</h1>
        <label for="todo-input">To Do:</label>
        <input v-model="todoText" @keyup.enter="insertTodo" type="text" id="todo-input" placeholder="What do you want to do?">
        <button type="submit" v-on:click="insertTodo">Insert</button>
        <div class="todos">
            <h2>To Do's</h2>
            <span v-show="todos.length === 0">Nothing to do! Enjoy your day! :)</span>
            <ol class="todo-list">
                <todo-item 
                    v-for="(todo, idx) in todos"
                    v-bind:todo="todo"
                    v-bind:key="idx"
                    v-bind:idx="idx">
                </todo-item>
            </ol>
        </div>
    </div>
    <script src="./todoapp.js"></script>
</body>
</html>